In [20]:
import pandas as pd
import numpy as np
import seaborn as sea
import datetime as dt
from datetime import timedelta
url = "in.csv"

In [21]:
dataset = pd.read_csv(url, error_bad_lines=False)

In [22]:
selected = dataset[['cod_location','date_id','total_cases']]
selected.head()

   cod_location   date_id  total_cases
0             0  20191231          0.0
1             0  20200101          0.0
2             0  20200102          0.0
3             0  20200103          0.0
4             0  20200104          0.0

In [23]:
selected = selected.groupby('cod_location').tail(5)

In [24]:
selected.head()

     cod_location   date_id  total_cases
256             0  20200912      38606.0
257             0  20200913      38641.0
258             0  20200914      38716.0
259             0  20200915      38815.0
260             0  20200916      38855.0

In [25]:
#Input na rede neural
selected.to_csv('input.csv')

In [26]:
def aver(input):
    medias = input.groupby(['cod_location'])['total_cases'].mean()
    return medias

In [27]:
def diff(input):
    difference = input.groupby('cod_location')['total_cases'].apply(lambda x: x.tail(1).values[0] - x.head(1).values[0])
    return difference