In [5]:
import pandas as pd
import numpy as np
import seaborn as sea
import datetime as dt
from datetime import timedelta
url = "in.csv"

In [6]:
dataset = pd.read_csv(url, error_bad_lines=False)

In [21]:
selected = dataset[['cod_location','date_id','total_cases']]

In [34]:
selected = selected.sort_values('date_id')
selected = selected.sort_values('cod_location').groupby('cod_location').tail(5)

In [35]:
selected.head()

     cod_location   date_id  total_cases
258             0  20200914      38716.0
257             0  20200913      38641.0
256             0  20200912      38606.0
255             0  20200911      38572.0
259             0  20200915      38815.0

In [36]:
#Input na rede neural
selected.to_csv('input.csv')